<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asus.mypuskesmas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Sejarah" />
        <activity android:name=".Daftar" />
        <activity android:name=".Bantuan" />
        <activity android:name=".About" />
        <activity android:name=".BekasiUtara" />
        <activity android:name=".BekasiBarat" />
        <activity android:name=".BekasiTimur" />
        <activity android:name=".BekasiSelatan" />
        <activity android:name=".Pondokgede" />
        <activity android:name=".PondokMelati" />
        <activity android:name=".RawaLumbu" />
        <activity android:name=".JatiaAsih" />
        <activity android:name=".Jatisampurna" />
        <activity android:name=".SplasScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>